[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"

[packages]
beautifulsoup4 = "*"
hug = "*"
rethinkdb = "*"
nltk = "*"
blockchain = "*"
websockify = "*"
shodan = "*"
urllib3 = "*"
argparse = "*"
fuzzywuzzy = "*"
pytest = "*"
termcolor = "*"
pycld2 = "*"
polyglot = "*"
tika = "*"
pyzillow = "*"
geotext = "*"
PySocks = "*"
Quandl = "*"
ExifRead = "*"
Scrapy = "*"
tabulate = "*"
tqdm = "*"
redis = "*"
psycopg2-binary = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
